$fontFamilyLogo: 'Gelasio, sans-serif';
$fontFamilyTitle: 'Gelasio, sans-serif';
$fontFamilyContent: 'Roboto, sans-serif';

$fontColorLight: #FFF;
$fontColorDark: #000;

$colorDesign: #C9453B;
$colorMainBG: #fff;
$colorFooterBG: rgba(38, 148, 153, 0.04);

$containerWidth: 1140px;

$viewportHeight: var(--height);