.card-col {
  display: flex;
}

.screen-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  cursor: pointer;

  &:hover {
    box-shadow: 0 6px 35px 0 rgba(0, 0, 0, 0.08);
  }

  .card__title {
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
  }

  .card__description {
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    margin-bottom: 0;
  }
}

.screen-card__image {
  padding-top: 70%;
  padding-left: 100%;
  width: 0;
  height: 0;
  position: relative;
  flex: none;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.screen-card--medium {
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.10);

  .screen-card__content {
    //flex: auto;
    flex: none;
    padding: 35px 30px;
  }
}